@use '../abstracts/variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  color: $icare-color-green;
  margin: 0 0 $space-md;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
  ;
}

h3 {
  font-size: $font-size-lg * 0.8;
}

p {
  margin: 0 0 $space-md;
  font-size: $font-size-md;
  line-height: 1.5;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}