@use '../abstracts/variables' as *;

// Import Google Font (can also go into _variables if shared)
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
  background-color: rgb(247, 249, 251);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  margin: 0 0 $space-md;
  line-height: 1.2;
  color: $icare-color-green;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg * 1.6;
}

// 2rem if base=16px
h3 {
  font-size: $font-size-lg * 1.4;
}

h4 {
  font-size: $font-size-lg * 1.2;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-md;
}

p {
  margin: 0 0 $space-md;
  font-size: $font-size-md;
}

a {
  // color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $color-muted;
}

.lead {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
}