.filterControls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  flex: 0 0 10%;
}

.filterInput {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #333;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.filterSelect {
  padding: 0.45rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #333;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}