.pill {
  padding: 10px 15px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 999px;
  background-color: white;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  color: #5B7562
}