@use "@styles/tokens" as *;



.button {
    padding: $space-12 $space-22;
    border-radius: $radius-pill;

    border: none;

    font-weight: $fw-extrabold;
    font-size: 1.17rem;
    cursor: pointer;

    flex: 1 1 200px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;

    transition: filter 0.14s ease, background-color 0.14s ease;

    &:active {
        filter: brightness(0.95);
    }

    &:hover {
        filter: brightness(0.95);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.button svg {
    position: relative;
    margin-left: 6px;
    width: 18px;
    height: 18px;
    top: 1px;
}

.primary {
    background: #d67435;
    // background: #5F7136;
    color: #fff;
}

.secondary {
    background: $secondary-colour;
    color: #111;
}

.tertiary {
    background: $tertiary-colour;
    color: $txt-white;
}

.spinnerWrap {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 16px;
    height: 16px;
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-top-color: rgba(255, 255, 255, 0.95);
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width:600px) {
    .button {
        padding: $space-16 $space-22;
        font-size: 1.1rem;
        font-weight: 500;
    }
}