@use "@styles/tokens" as *;

.button {
  padding: $space-12 $space-18;
  border-radius: $radius-pill;


  border: none;

  font-weight: $fw-bold;
  font-size: 0.95rem;
  cursor: pointer;

  flex: 1 1 160px;
  white-space: nowrap;

  display: flex;

  justify-content: center;

  align-items: center;
  max-width: fit-content;
  transition: background-color 0.2s ease, transform 0.1s ease;

  /*
    &:hover {
        background: darken($primary-colour, 5%);
    }
    */

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.button svg {
  margin-left: 6px;
}

.primary {
  background: $primary-colour;
  color: #111;
}

.secondary {
  background: $secondary-colour;
  color: #111;
}

.tertiary {
  background: $tertiary-colour;
  color: $txt-white;
}