@use "@styles/tokens" as *;

.button {
    padding: $space-12 $space-22;
    border-radius: $radius-pill;


    border: none;

    font-weight: $fw-normal;
    font-size: 1.2rem;
    cursor: pointer;

    flex: 1 1 200px;
    white-space: nowrap;

    display: flex;

    justify-content: center;

    align-items: center;
    max-width: fit-content;
    transition: background-color 0.2s ease, transform 0.1s ease;

    /*
    &:hover {
        background: darken($primary-colour, 5%);
    }
    */

    &:active {
        transform: translateY(1px);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.button svg {
    position: relative;
    margin-left: 6px;
    width: 18px;
    height: 18px;
    top: 1px;
}

.primary {
    background: #dd8b4f;
    color: #fff;
}

.secondary {
    background: $secondary-colour;
    color: #111;
}

.tertiary {
    background: $tertiary-colour;
    color: $txt-white;
}