@use "@styles/tokens" as tokens;
@use 'abstracts/mixins';
@use './base/typography';

:root {
    --navbar-height: #{tokens.$nav-bar-height};
}

#icare-main {
    max-width: 75vw;
    margin: 0 auto;
    padding: 4rem 1rem;
    padding-top: calc(var(--navbar-height) + 5vh);

    @media (max-width:1100px) {
        max-width: 100%;
        padding: calc(var(--navbar-height) + 5vh) 40px 4rem;
    }
}