@use "./variables" as vars;
@use "./mixins" as mixins;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color: #fff;
}

html,
body,
figure,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Export SCSS to CSS vars */
:root {
  @include mixins.export-css-vars();
}

body {
  min-height: 100%;
  background-color: #fff;
  font-family: var(--icare-font-family);
  line-height: var(--icare-line-height-normal);
}
