@use "@styles/tokens" as *;


.link {
    padding: $space-12 $space-20;
    border-radius: $radius-pill;

    /* border: 2px solid $secondary-colour; */
    background: $link-bg;
    color: $on-dark;

    font-weight: $fw-normal;
    letter-spacing: -0.2px;
    font-size: 1.2rem;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $space-055;

    transition: $transition-ui;
    box-shadow: $shadow-elev;

    max-width: 240px;

    flex: 1 1 200px;
    white-space: nowrap;

    &:hover {
        background: darken($link-bg, 3%);
    }

    &:active {
        transform: translateY(0);
        box-shadow: $shadow-elev-active;
    }

    svg {
        display: block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
}

.active {
    filter: brightness(0.98);
}