@use "@styles/tokens" as *;


.link {
    padding: $space-12 $space-22;
    border-radius: $radius-pill;

    font-weight: $fw-normal;
    font-size: 1rem;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 240px;

    flex: 0 1 200px;
    white-space: nowrap;

    transition: background-color 0.2s ease, transform 0.1s ease;

    &:active {
        transform: translateY(1px);
    }

    svg {
        display: block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
}

.primary {
    background: #dd8b4f;
    color: #fff;

    &:hover {
        background: darken(#dd8b4f, 5%);
    }
}

.secondary {
    background: $secondary-colour;
    color: #111;

    &:hover {
        background: darken($secondary-colour, 5%);
    }
}

.tertiary {
    background: $tertiary-colour;
    color: $txt-white;

    &:hover {
        background: darken($tertiary-colour, 5%);
    }
}

.default {
    background: $link-bg;
    color: $on-dark;

    &:hover {
        background: darken($link-bg, 3%);
    }
}

.outline {
    border: 1.5px solid #221002;
    color: #221002;
    background: transparent;

    &:hover {
        background: rgba(15, 23, 42, 0.05);
    }
}

@media (max-width: 600px) {
    .outline {
        background: #dd8b4f;
        color: #fff;
        border: 0;
    }
}

.active {
    filter: brightness(0.98);
}