@use "@styles/tokens" as *;

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: $txt;
}

.colLeft {
    background: #fff9ef;
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
}

strong {
    font-weight: 500;
}

.colRight {
    background: $txt-white;
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
}

.colInner {
    max-width: 500px;
}

.heading {
    font-size: 2rem;
    font-weight: $fw-bold;
    line-height: 1.22;
    letter-spacing: -0.3px;
    margin-bottom: 1rem;
}

.headingMission {
    composes: heading;
    margin-bottom: 1rem;
}

.paragraph {
    font-size: 1.15rem;
    line-height: $lh-copy;
    margin-bottom: 1rem;
    font-weight: $fw-normal;
}

.paragraphSpaced {
    composes: paragraph;
    margin-bottom: 1.6rem;
}

.paragraphContinued {
    margin-top: 1rem;
    font-size: $font-lg;
    line-height: $lh-body;
}

.paragraphLast {
    composes: paragraph;
    margin-bottom: 0;
}

/* What we're building */
.buildingSection {
    width: 100%;
    background: #f8f8f8;
    padding: 4rem 20px;
    font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: $txt;
    display: flex;
    justify-content: center;

    @media (max-width:600px) {
        padding: 40px 20px;
    }
}

.buildingInner {
    width: 100%;
    max-width: 800px;
    text-align: justify;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .colLeft,
    .colRight {
        justify-content: center;
        padding: 2rem 1.5rem;
    }

    .colInner {
        max-width: 100%;
    }

    .heading,
    .headingMission {
        font-size: $font-2xl;
    }

    .buildingInner {
        text-align: left;
    }
}