:host {
  a.icare-logo__link {
    display: inline-block;
    text-decoration: none;
    outline: none;
  }
  img {
    display: block;
    width: auto;
    // height: 2.5rem; /* adjust as needed */
  }
}