@import "tailwindcss";

@theme {
    --font-family: "Opens Sans", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
    @apply bg-white dark:bg-white;

    @media (prefers-color-scheme: light) {
        color-scheme: light;
    }
}