name: Build and deploy Node.js app to Azure Web App - ICare

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Use Node from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      # Build workspace deps first (remove if not applicable)
      - name: Build icare-components
        run: npm run build --workspace=icare-components

      - name: Build ICare SSR app
        run: npm run build --workspace=icare-app

      # Package only the app you want to deploy
      - name: Prepare deploy package
        run: |
          rm -rf deploy
          mkdir -p deploy
          cp -R packages/ICare/* deploy/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: icare-ssr
          path: deploy

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: icare-ssr
          path: deploy

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8BEAE0E7BA9E4BE799A21ADBDD0B5669 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_BFCB3C61D09047FCACCC60B71780F7D1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AF16D6F649E24695A2C371EDF9325E22 }}

        # with:
        #   client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9EEFC65816984EE9A3E4CCFD68012CEA }}
        #   tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CA4729DB91DC4FE2B002DD2CC1C42B12 }}
        #   subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_26DD6A85E76542D29E649A7039316164 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ICare'
          package: deploy



