# name: Build and deploy Node.js app to Azure Web App - ICare
# on:
#   push:
#     branches: [ master ]
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read

#     steps:
#       - uses: actions/checkout@v4

#       - name: Use Node from .nvmrc
#         uses: actions/setup-node@v4
#         with:
#           node-version-file: .nvmrc
#           cache: npm

#       - name: Install dependencies (workspaces)
#         run: npm ci

#       - name: Build dependencies
#         run: |
#           npm run build --workspace=icare-components

#       - name: Build SSR app
#         run: npm run build --workspace=icare-app

#       # Package only the app you want to deploy
#       - name: Prepare deploy package
#         run: |
#           rm -rf deploy
#           mkdir -p deploy
#           cp package.json package-lock.json deploy/
#           cp -R packages deploy/

#       - name: Upload artifact
#         uses: actions/upload-artifact@v4
#         with:
#           name: icare-ssr
#           path: deploy

#   deploy:
#     runs-on: ubuntu-latest
#     needs: build
#     permissions:
#       id-token: write
#       contents: read

#     steps:
#       - name: Download artifact
#         uses: actions/download-artifact@v4
#         with:
#           name: icare-ssr
#           path: deploy

#       - name: Login to Azure
#         uses: azure/login@v2
#         with:
#           client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7961A8A59D004D42BA1A30149976E086 }}
#           tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3528E4C9D9704243A6471042CCA96203 }}
#           subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A259613877694B3AB75FDE52F53CDB34 }}
#       - name: Deploy to Azure Web App
#         uses: azure/webapps-deploy@v3
#         with:
#           app-name: 'ICare'
#           package: deploy



