.section {
    width: 100vw;
    padding: 4rem 20px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background: var(--section-bg, transparent);
    overflow: hidden;

    @media (max-width:600px) {
        padding: 2rem 0;
    }
}

.inner {
    max-width: 1320px;
    margin: 0 auto;

}